## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.userprefs
Generated\ Files/
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
.localhistory/
MigrationBackup/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## Test results & coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
BenchmarkDotNet.Artifacts/
TestResult.xml
nunit-*.xml

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Misc
*.binlog
.DS_Store
Thumbs.db
FodyWeavers.xsd
*.pfx
